/* I like green */
a {
  color: #080;
  text-decoration: none;
  transition: .5s;
}

a:visited {
  color: #480;
  text-decoration: none;
  transition: .5s;
}

a:hover, a:visited:hover {
  color: #0f0;
  text-decoration: none;
  transition: .5s;
}

/* Make Bootstrap dropdown menus display on hover and clickable */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0px;
}


.post-preview header {
  margin-bottom: 0.5em;
}

/* Make Bootstrap nav-justified non-overlapping */
.nav-justified > li {
  float: none;
}

/* Give the articles a bit of flavor */
article {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 2px #888888;
}

/* Make sure the footer can be read even with the above box shadow */
footer {
  margin: 1em;
}

/* I like small caps, so sue me :) */
.entry-date {
  font-variant: small-caps;
}

/* Don't let floats get past hrs or titles (mostly for images in post previews) */
hr, .ranking-title {
  clear: both;
}

/* Probably shouldn't do this, but get it working first, fast second */
img:not(.emoji) {
  max-width: 90%;
  margin: 4px;
  padding: 4px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

pre {
  margin: 1em 0;
}

/* https://hassankhan.github.io/emojify.js/ */

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}

/* Google fonts, cannot use body since Bootstrap does */

/* TODO: body font
header, article, footer {
    font-family: Sanchez, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/

header h1, header h2 {
    font-family: Calligraffitti, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
