html, body {
    background-color: #777;
    margin: 0;
    padding: 0;
    height: 100%;

    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

@media only screen and (max-width: 800px) {
    #wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    #wrapper {
        width: 70%;
        max-width: 80em;
        margin: 0 auto;
        position: relative;
        min-height: 40em;
        height: auto;
    }
}

#page-content {
    min-height: 40em;
}

a {
    color: #006400; /* dark green */
    text-decoration: none;
}

/* Single posts */

/* TODO: this */


/* Fonts */

body {
    font-family: 'Lato', sans-serif;
}

.ribbon a,
.entry-tags a,
#page-header-links a {
    font-family: 'Spectral SC', sans-serif;
}

article .entry-title,
#page-header h1 a {
    font-family: 'Spectral SC', sans-serif;
}

pre * {
    font-family: 'Share Tech Mono', monospace;
}

/* Post list */

article .entry-title {
    margin: 0.25em 0;
    padding: 0;
}

article .entry-date:before {
    content: "Posted on ";
}

article .entry-meta {
    margin: 1em 0;
    padding: 0;
}

.entry-section-prev-next {
    text-align: center;
    padding: 0 0 0.5em 0;
}

.entry-comments {
    padding-bottom: 2em;
}

/* Code blocks */

div.highlight pre {
    border: 3px groove silver;
    border-radius: 0 10px 0 10px;
    padding: 1em;
    overflow-x: auto;
}

/* Header */

@media only screen and (min-width: 800px) {
    #page-header {
        background-color: white;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border-left-width: 35px;
        border-left-color: #006400;
        border-left-style: solid;
        margin-right: 35px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        display: block;
        position: relative;
        height: 140px;
    }

    #page-header h1 {
        display: inline-block;
        font-weight: 700;
        font-size: 3em;
        margin: 0.5em 0 0 1em;
    }

    #page-header-links {
        text-align: right;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0.5em;
        margin: 1em 35px;
    }    

    #page-header-links li {
        padding: 0.25em 0.1em;
        display: list-item;
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
    }

    #page-header nav {
        height: 35px;
        color: white;
        background-color: #006400;
        clear: both;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;
        margin-right: 35px;
    }

    #page-header nav ul {
        margin: 8px 35px 0 0;
        width: auto;
    }

    /* Ribbon */
    nav.ribbon {
        color: white;
        background-color: #006400;
        z-index: 1500;
        height: 35px;
        padding: 0.5em 35px;
        text-align: right;
    }

    nav.ribbon ul {
        display: inline-block;
        width: 100%;
    }

    nav.ribbon li {
        display: inline;
    }

    nav.ribbon a {
        color: white;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 75%;
    }

    nav.ribbon ul li+li:before {
        content: "";
        padding: 0 0.5em 0 0.25em;
        fill: white;
        vertical-align: middle;
    }
}

@media only screen and (max-width: 800px) {
    #page-header {
        background-color: white;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border-left-width: 35px;
        border-left-color: #006400;
        border-left-style: solid;
        margin-right: 35px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        display: block;
        position: relative;
        height: 200px;
    }

    #page-header h1 {
        display: block;
        font-weight: 700;
        font-size: 3em;
        margin: 0 0 0 1em;
    }

    #page-header-links {
        text-align: right;
        display: inline-block;
    }    

    #page-header-links li {
        display: list-item;
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    #page-header nav {
        height: 35px;
        color: white;
        background-color: #006400;
        clear: both;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0;
        margin-right: 35px;
    }

    #page-header nav ul {
        margin: 8px 35px 0 0;
        width: auto;
    }

    nav.ribbon {
        color: white;
        background-color: #006400;
        z-index: 1500;
        height: 35px;
        padding: 0.5em 35px;
        text-align: right;
    }

    nav.ribbon ul {
        display: none;
    }

    nav.ribbon:hover ul {
        display: block;
        background: white;
        border: 3px solid #006400;
        border-bottom-left-radius: 10px;
        padding: 1em;
        margin: 0;
    }

    nav.ribbon ul li {
        background: white;
    }
}


/* Body */

#page-content-wrapper {
    border-right-width: 35px;
    border-right-style: solid;
    border-right-color: #006400;
    margin: -35px 0 -35px 35px;
    padding: 35px 0 35px 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
}

#page-content {
    padding: 1em;
}

/* Footer */

#page-footer {
    background-color: white;
    border-left-width: 35px;
    border-left-color: #006400;
    border-left-style: solid;
    margin-right: 35px;
    border-top-left-radius: 25px;
    display: block;
    position: relative;
}

#page-footer nav {
    height: 35px;
    color: white;
    background-color: #006400;
    clear: both;
    width: 100%;
    padding: 0;
}

#page-footer nav ul {
    margin: 8px 35px 0 0;
    width: auto;
}

#page-footer #page-footer-content {
    padding: 1em;
}

/* Taxonomy lists */

.taxonomy-name-list {
    height: 35px;
    margin-bottom: 1em;
}

.taxonomy-name-list ul, .taxonomy-name-list li {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.taxonomy-name-list li {
    margin-top: 10px;
    display: inline-block;
}

.taxonomy-name-list a {
    text-transform: uppercase;
    font-weight: bold;
}

.taxonomy-name-list ul li:before {
    content: '[ ';
}

.taxonomy-name-list ul li:after {
    content: ' ]';
}

.entry-taxonomies .taxonomy-values li:not(:last-child):after, .entry-tags .taxonomy-values li:not(:last-child):after {
    content: ", ";
}

/* Tag lists */

.entry-taxonomies {
    clear: both;
}

.entry-taxonomies .taxonomy-values .previous-link, .entry-taxonomies .taxonomy-values .next-link {
    display: none;
}

/*
.entry-taxonomies .taxonomy-values:hover .previous-link, .entry-taxonomies .taxonomy-values:hover .next-link {
    display: inline;
}
*/

.entry-taxonomies .taxonomy-keys > li:not(:last-child):after {
    content: " | "
}

 .taxonomy-key:after {
    content: ": "
}

.entry-taxonomies li, .entry-taxonomies ul {
    list-style-type: none;
    display: inline;
    padding: 0;
}

.entry-tags li {
    list-style-type: none;
}

.entry-tags .taxonomy-values li {
    display: inline; 
    list-style-type: none;
}

.entry-tags .taxonomy-values li:after {
    content: " ";
}

.entry-tags .taxonomy-keys {
    padding: 0;
}

/* Pagination */

#pagination-navigation ul {
    display: inline-block;
    margin: 1em auto;
    height: 2em;
}

#pagination-navigation li {
    display: inline;
}

#pagination-navigation a {
    text-transform: uppercase;
    font-weight: bold;
}

#pagination-navigation ul li+li:before {
    content: url(star.svg);
    padding: 0 0.5em 0 0.25em;
    fill: white;
    vertical-align: middle;
}

/* Previous/next buttons */

.previous-link {

}

.previous-link:before {
    content: ' ◅ ';
}

.next-link {

}

.next-link:after {
    content: ' ▻ ';
}

/* Other things */

.entry-content blockquote {
    background: #f9f9f9;
    border: 3px solid #006400;
    border-left: 10px solid #006400;
    border-radius: 10px;
    margin: 1.5em 10px;
    padding: 0.25em 10px;
}

.entry-content figure {
    max-width: 90%;
    margin: 4px;
    padding: 4px;
    background-color: white;
    display: inline-block;
}

.entry-content .cover-image img {
    border: 1px solid black;
    border-right: 3px groove silver;
    border-bottom: 3px groove silver;
    border-radius: 5px;
}

.entry-content .missing-cover {
    position: relative;
}

.entry-content .cover-image .missing-cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    color: white;
    z-index: 1500;
}

.entry-content .spoiler {
    color: black;
    background: black;
    margin: 0 0.25em;
    padding: 0.25em 0;
    border-radius: 3px;
    box-shadow: 0.25em 0 0 black, -0.25em 0 0 black;
}

.entry-content .spoiler:hover {
    color: white;
}

.entry-content figure img {
    max-width: 100%;
}


.entry-content p {
    font-size: 1em;
    line-height: 1.5;
}

.entry-content table {
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
}

.entry-content td, .entry-content th {
    border: 1px solid black;
    height: 30px;
    padding: 0.25em;
}

.entry-content th {
    background: #D0DFD0;
    font-weight: bold;
}

.entry-content td {
    background: #FAFAFA;
    text-align: center;
}

.entry-content ul {
    margin: 0;
}

.entry-content li {
    margin: 0.25em 0;
}

#page-content hr,
.entry-content hr {
    border: 0;
    width: 50%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#pagination-navigation {
    text-align: center;
}

/* Image galleries */

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.imageGallery .column {
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}

@media screen and (max-width: 800px) {
    .imageGallery .column {
        flex: 45%;
        max-width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .imageGallery .column {
        flex: 90%;
        max-width: 90%;
    }
}

/* Image gallery */

.imageGallery img {
    border: 1px solid gray;
    padding: 0em;
    border-radius: 10px;
}

.imageGallery img:hover {
    border: 1px solid black;
}

.imageGallery figcaption {
    float: left;
}

.imageGallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imageGallery .viewOnFlickr {
    clear: both;
}

.flickrLink {
    content: url('flickr.svg');
    width: 12px;
}

.home-page-image {
    margin: 0.25em;
    border: 1px solid black;
    border-radius: 3px;
}

.home-page-reviews img {
    display: inline-block;
    transform: scale(0.8);
    border: 1px solid black;
    border-radius: 3px;
}